<%= form_for @dog, html: { multipart: true } do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
        <% @dog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Dog Information</h2>

  <div>
    <span><%= f.label :list_id, 'Status' %>:</span>
    <%= f.collection_select :list_id, List.all, :id, :status, include_blank: true %>
  </div>

  <div >
    <span><%= f.label :image %>:</span>
    <%= f.file_field :image %>
  </div>

  <!-- <div class="multiples">
    <#% if f.object.image? %>
      <#%= image_tag f.object.image.small.url %>
      <#%= f.label :remove_image %>:
      <#%= f.check_box :remove_image %>
    <#% end %>
  </div> -->

  <div>
    <span><%= f.label :breed %>:</span>
    <%= f.text_field :breed %>
  </div>

  <div>
    <span><%= f.label :color %>:</span>
    <%= f.text_field :color %>
  </div>

  <div class="size">
      <span><%= f.label :size %>:</span>
      <span><%= f.radio_button :size, 'Small' %> Small</span>
      <span><%= f.radio_button :size, 'Medium' %> Medium</span>
      <span><%= f.radio_button :size, 'Large' %> Large</span>
  </div>

  <div>
      <span><%= f.label :location %>:</span>
      <%= f.select(:location, options_for_select([["North Durham", "North Durham"], ["Downtown Durham", "Downtown Durham"], ["South Durham", "South Durham"], ["East Durham", "East Durham"], ["West Durham", "West Durham"]]), include_blank: true) %>
  </div>

  <div class="date">
    <span><%= f.label :date %>:</span>
    <%= f.date_select :date %>
  </div>

  <div>
    <span><%= f.label :description %>:</span>
    <%= f.text_area :description %>
  </div>

  <h2>Contact Information</h2>

  <div>
    <span><%= f.label :first_name %>:</span>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <span><%= f.label :last_name %>:</span>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <span><%= f.label :phone %>:</span>
    <%= f.text_field :phone %>
  </div>

  <div>
    <span><%= f.label :email %>:</span>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit 'Submit Entry' %>
  </div>

<% end %>
